:root {
    --cor-primaria: #020202;  
    --cor-secundaria: #808080;
    --cor-texto: #ffffff;
    --cor-fundo: #e9ecef; 
    --cor-hover: #616161; 
    --cor-acento: #222222;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 15px 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-bottom: 20px;
}

.menu a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: var(--cor-hover);
}

.menu a:hover {
    background-color: var(--cor-acento);
    color: var(--cor-secundaria);
    transform: scale(1.1);
}


h1 {
    font-size: 2rem;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    width: 100%;
    background-color: var(--cor-texto);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container label {
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.container input, .container select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
    width: 90%;
}

.container input:focus, .container select:focus {
    outline: none;
    border-color: var(--cor-primaria);
    box-shadow: 0px 0px 4px var(--cor-primaria);
}

.container button {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 10%;
}

.container button:hover {
    background-color: var(--cor-acento);
    color: var(--cor-texto);
    transform: scale(1.05);
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}
.container a {
    color: var(--cor-texto);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top:10px ;
}

.container a:hover {
    color: var(--cor-primaria);
}


div a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

div a:hover {
    background-color: var(--cor-hover);
    transform: scale(1.05);
}


table {
    width: 100%;
    max-width: 1000px;
    margin-top: 30px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid var(--cor-secundaria);
    font-size: 1rem;
}

th {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
}

td {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
}

tr:hover {
    background-color: var(--cor-acento);
    color: var(--cor-texto);
}

a {
    
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--cor-acento);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 10px;
    }
}
