<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Quarto</title>
    <link rel="stylesheet" href="static/add_hospedes.css">
</head>
<body>
    
    
    <div class="container">
        <div class="head">
            <h1>Adicionar quarto</h1>
            <a href="{{ url_for('quartos') }}">Voltar</a>
        </div>
    <form action="{{ url_for('add_quartos')}}" method="post">
       
        <p style="color: red; align-self: center;">{{flash}}</p>
        <label for="numero">Número</label>
        <input type="number" name="numero" id="numero"> 
        <label for="tipo">Tipo de quarto</label>
        <select name="tipo" id="tipo">
            <option value="Quarto Solteiro">Quarto Solteiro</option>
            <option value="Duplo Solteiro">Duplo Solteiro</option>
            <option value="Quarto Casal">Quarto Casal</option>
            <option value="Dormitórios">Dormitórios</option>
        </select>
        <label for="preco">Preço</label>
        <input type="float" name="preco" id="preco">
        <label for="capacidade">Capacidade</label>
        <input type="number" name="capacidade" id="capacidade">
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao">
        <button>Enviar</button>
    </form>
    </div>
    
</body>
</html>

