<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Hóspede</title>
    <link rel="stylesheet" href="static/add_hospedes.css">
</head>
<body>
<!-- Modal Sucesso -->
<div id="modalSucesso" class="modal">
    <div class="modal-content modal-success">
        <h2>✔ Cadastro realizado com sucesso!</h2>
        <p>O hóspede foi adicionado ao sistema.</p>
        <button onclick="fecharModal('modalSucesso')">Fechar</button>
    </div>
</div>

<!-- Modal Erro -->
<div id="modalErro" class="modal">
    <div class="modal-content modal-error">
        <h2>✖ Ocorreu um erro!</h2>
        <p>Verifique os dados e tente novamente.</p>
        <button onclick="fecharModal('modalErro')">Fechar</button>
    </div>
</div>

<script>
function abrirModal(id) {
    document.getElementById(id).style.display = "flex";
}
function fecharModal(id) {
    document.getElementById(id).style.display = "none";
}
</script>

    <div class="container">
        <div class="head">
        <h1>Adicionar Hóspede</h1>
        <a href="{{ url_for('hospedes') }}">Voltar</a>
        </div>
        <p style="color: red;">{{flash}}</p>

        <form method="POST" action="/add_hospede">
            <input type="hidden" name="form_submitted" value="true">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" name="telefone" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <button type="submit">Adicionar Hóspede</button>
        </form>
    </div>

</body>
</html>