<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios Avançados</title>
    <link rel="stylesheet" href="static/relatorios.css">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('hospedes') }}">Hóspedes</a>
        <a href="{{ url_for('quartos') }}">Hospedagens</a>
        <a href="{{ url_for('reservas') }}">Reservas</a>

    </div>
    <div class="head"><h1>Relatórios Avançados</h1>
        <a href="{{ url_for('reservas') }}">Voltar</a></div>
    
    <br>
    <div class="container">
        <div>
            <h3>Total de reservas por hóspede:</h3>
            <form action="{{url_for('total_reservas')}}" method="post">
                <p>Périodo:</p>
                <label for="data1">De</label>
                <input type="date" id="data1" name="data1">
                <label for="data1">Até</label>
                <input type="date" id="data2" name="data2">
                <button>Ver</button>
            </form>
        </div>
        <br><br>
        <div>
            <h3>Hóspedes com reservas acima de R$2000,00:</h3>
            <form action="{{url_for('reservas_acima')}}" method="post">
                <button>Ver</button>
            </form>
        </div>
        <br><br>
        <div>
            <h3>Quartos mais reservados</h3>
            <form action="{{url_for('quartos_reservados')}}" method="post">
                <p>Périodo:</p>
                <label for="tempo">Nos últimos</label>
                <select name="tempo" id="tempo">
                    <option type='number' value="7">7 dias</option>
                    <option type='number' value="30">30 dias</option>
                    <option type='number' value="60">60 dias</option>
                    <option type='number' value="90">90 dias</option>
                </select>
                <button>Ver</button>
            </form>
        </div>
        <br><br>
        <div>
            <h3>Quartos não reservados:</h3>
            <form action="{{url_for('nao_reservados')}}" method="post">
                <button>Ver</button>
            </form>
        </div>
    </div>
    
</body>
</html>
